.slider {
  width: 100%;
  height: auto;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: repeat(5, auto);
  padding-left: 0rem;
  transition: 400ms ease-in-out;
  background-color: var(--slide-BG-color);
  position: relative;
  margin-top: 0rem;
  margin-bottom: 2px;
  display: grid;
}

.slider.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.slider__BG__1 {
  --slide-BG-color: rgb(52, 100, 47);
  --slide-detailsColor: #e1dd72;
  --arrColor: rgb(9, 56, 0);
  --emphasisNum: rgb(20, 167, 20);
  --littleTextColor: rgb(9, 56, 0);
  --padding: 5vw;
}

.slider__BG__2 {
  --slide-BG-color: rgb(10, 109, 175);
  --slide-detailsColor: #eea47fff;
  --arrColor: white;
  --emphasisNum: rgb(3, 35, 95);
  --littleTextColor: rgb(16, 31, 41);
  --padding: 5vw;
}

.slider__BG__3 {
  --slide-BG-color: rgb(121, 54, 21);
  --slide-detailsColor: #fff1e1;
  --arrColor: rgb(9, 56, 0);
  --emphasisNum: #6e1f07;
  --littleTextColor: #1d3c45;
  --padding: 5vw;
}

.slider__header {
  color: rgb(233, 233, 233);
  transition: 300ms ease-in-out;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  grid-column: 1/4;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  font-size: clamp(1.6rem, 9vw + 0.1rem, 3.5rem);
  margin-bottom: 12vw;
  user-select: none;
  padding-left: 0vw;
  text-align: center;
}

/* LINE BELOW HEADER */

.line {
  position: absolute;
  height: 2px;
  bottom: -5%;
  left: 13vw;
  width: 40vw;
  animation-name: extendLine;
  animation-duration: 800ms;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  background-color: var(--slide-detailsColor);
}

/* ============================== */

.slider__paragraph {
  color: rgb(219, 218, 218);
  font-family: serif;
  font-size: clamp(1rem, 5vw + 0.1rem, 2rem);
  width: 80%;
  height: auto;
  margin-top: 8vw;
  grid-column: 1/4;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  margin-bottom: 16vw;
  padding-left: 4vw;
}

/* Button below paragraph */

/* ======================== */

.slide__image {
  z-index: 0;
  opacity: 0.8;
  position: relative;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  width: 65vw;
  height: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.image__1 {
  background-image: url("/images/planted_tree.jpg");
  transition: 1000ms ease-in-out;
}

.image__2 {
  background-image: url("/images/waterPollution.jpg");
  transition: 400ms ease-in-out;
}

.image__3 {
  background-image: url("/images/helped_animals.jpg");
  transition: 400ms ease-in-out;
}

.slide__image::before {
  content: "";
  position: absolute;
  width: 75vw;
  height: 110vw;
  top: -5vw;
  left: -5vw;
  border: 2px solid var(--slide-detailsColor);
  z-index: 1000;
}

/* ============================ */

.img__descrip__container {
  padding: 0;
  text-align: center;
  grid-column: 1/4;
  grid-row: 4/5;
  align-self: center;
  justify-self: center;
  background-color: var(--slide-detailsColor);
  width: 75vw;
  height: 30vw;
  z-index: 100;
}

.fix {
  display: flex;
}

.first_part {
  --width: 19ch;
  --amountOfSteps: 19;
  --firstAnimationDuration: 1.8s;
  --animationDelay: 0ms;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 1.8s;
}
.second_part {
  --width: 1ch;
  --amountOfSteps: 1;
  --firstAnimationDuration: 0.2s;
  --animationDelay: 2s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 2.2s;
}
.third_part {
  --width: 7ch;
  --amountOfSteps: 7;
  --firstAnimationDuration: 1s;
  --animationDelay: 2.2s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 3.2s;
}
.fourth_part {
  --width: 21ch;
  --amountOfSteps: 21;
  --firstAnimationDuration: 2s;
  --animationDelay: 3.2s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 5.2s;
}

.first_part_2 {
  --width: 18ch;
  --amountOfSteps: 18;
  --firstAnimationDuration: 1.8s;
  --animationDelay: 0ms;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 1.8s;
}
.second_part_2 {
  --width: 23ch;
  --amountOfSteps: 23;
  --firstAnimationDuration: 2s;
  --animationDelay: 1.8s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 3.8s;
}
.third_part_2 {
  --width: 3ch;
  --amountOfSteps: 3;
  --firstAnimationDuration: 0.4s;
  --animationDelay: 3.8s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 4.2s;
}
.fourth_part_2 {
  --width: 13ch;
  --amountOfSteps: 13;
  --firstAnimationDuration: 1s;
  --animationDelay: 4.2s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 5.2s;
}

.first_part_3 {
  --width: 17ch;
  --amountOfSteps: 17;
  --firstAnimationDuration: 1.5s;
  --animationDelay: 0ms;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 1.5s;
}
.second_part_3 {
  --width: 2ch;
  --amountOfSteps: 2;
  --firstAnimationDuration: 0.3s;
  --animationDelay: 1.5s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 1.8s;
}
.third_part_3 {
  --width: 23ch;
  --amountOfSteps: 23;
  --firstAnimationDuration: 2s;
  --animationDelay: 1.8s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 3.8s;
}
.fourth_part_3 {
  --width: 16ch;
  --amountOfSteps: 16;
  --firstAnimationDuration: 1.5s;
  --animationDelay: 3.8s;
  --opacityAnimDur: 0.1s;
  --opacirtAnimDel: 5.3s;
}

.typing-class {
  display: inline-block;
  width: 0;
  animation: typing var(--firstAnimationDuration) var(--animationDelay)
      steps(var(--amountOfSteps)) forwards,
    removeBorder var(--opacityAnimDur) var(--opacirtAnimDel) forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: none;
  font-size: clamp(0.8rem, 5vw + 0.1rem, 1.5rem);
}

.img__descrip__text {
  opacity: 1;
  width: 100%;
  color: var(--littleTextColor);
  padding-top: var(--padding);
  user-select: none;
}

.emphasize__num {
  font-size: clamp(0.8rem, 5vw + 0.1rem, 1.5rem);
  font-weight: 600;
  margin: 0 0;
  color: var(--emphasisNum);
}

/* arrow and dots */

.arrow {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: none;
  background: inherit;
  font-size: clamp(0.8rem, 5vw + 0.1rem, 1.5rem);
  align-self: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
  padding-bottom: 0.5rem;
  color: white;
}

.arrow:hover {
  color: var(--arrColor);
  background-color: var(--slide-detailsColor);
}

.rightArrow {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: start;
  align-self: center;
  transform: translateX(-1vw) translateY(0rem);
}

.leftArrow {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: end;
  align-self: center;
  transform: translateX(1vw) translateY(0rem);
}

.dots {
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: center;
  justify-self: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: white;
  margin-right: 10px;
  transition: 400ms ease-in-out;
  border: none;
  cursor: pointer;
}

.dot.dot__active {
  background-color: rgb(0, 0, 0);
}

@media all and (min-width: 300.1px) and (max-width: 500px) {
  .slider__header {
    margin-top: 5vw;
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: clamp(3.5rem, 9vw + 0.1rem, 5.2rem);
  }

  /* Button below paragraph */

  .slide__image {
    width: 65vw;
    max-width: 325px;
    max-height: 500px;
    height: 100vw;
  }

  .slide__image::before {
    width: 75vw;
    height: 110vw;
    max-width: 375px;
    max-height: 550px;
    top: -5vw;
    left: -5vw;
  }

  /* ============================ */

  .img__descrip__container {
    width: 75vw;
    height: 30vw;
    max-width: 375px;
    max-height: 550px;
  }

  .typing-class {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2.5rem);
  }

  .emphasize__num {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2.5rem);
  }

  /* arrow and dots */

  .arrow {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2rem);
  }

  .rightArrow {
    transform: translateX(-2vw) translateY(0rem);
  }

  .leftArrow {
    transform: translateX(2vw) translateY(0rem);
  }
}

@media all and (min-width: 500.1px) and (max-width: 800px) {
  .slider__header {
    margin-top: 5vw;
    font-size: clamp(3.5rem, 9vw + 0.1rem, 6rem);
    margin-bottom: 6vw;
  }

  /* ============================== */

  .slider__paragraph {
    width: 70%;
    max-width: 500px;
    margin-bottom: 15vw;
    padding-left: 1vw;
  }

  /* ======================== */

  .slide__image {
    max-width: 325px;
    max-height: 500px;
    height: 100vw;
  }

  .slide__image::before {
    width: 75vw;
    height: 110vw;
    max-width: 375px;
    max-height: 550px;
    top: -25px;
    left: -25px;
  }

  /* ============================ */

  .img__descrip__container {
    width: 75vw;
    height: 30vw;
    max-width: 375px;
    max-height: 170px;
  }

  .typing-class {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2.5rem);
  }

  .emphasize__num {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2.5rem);
  }

  /* arrow and dots */

  .arrow {
    font-size: clamp(2rem, 5vw + 0.1rem, 3rem);
  }

  .rightArrow {
    transform: translateX(-1vw) translateY(0rem);
  }

  .leftArrow {
    transform: translateX(1vw) translateY(0rem);
  }
}

@media all and (min-width: 705px) and (max-width: 800px) {
  .line {
    left: 18vw;
  }
}

@media all and (min-width: 520px) and (max-width: 540px) {
  .img__descrip__container {
    transform: translateX(0px);
  }
}

@media all and (min-width: 580.1px) and (max-width: 680px) {
  .rightArrow {
    transform: translateX(-4vw) translateY(0rem);
  }

  .leftArrow {
    transform: translateX(4vw) translateY(0rem);
  }
}

@media all and (min-width: 680.1px) and (max-width: 800px) {
  .rightArrow {
    transform: translateX(-6vw) translateY(0rem);
  }

  .leftArrow {
    transform: translateX(6vw) translateY(0rem);
  }
}

@media all and (min-width: 800.1px) and (max-width: 1064px) {
  .slider {
    grid-template-columns: 35% 5% 55% 5%;
    grid-template-rows: auto auto 2vw;
  }

  .slider__BG__1 {
    --padding: 2vw;
  }

  .slider__BG__2 {
    --padding: 2vw;
  }

  .slider__BG__3 {
    --padding: 2vw;
  }

  .slider__header {
    margin-top: 2vw;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: start;
    justify-self: center;
    font-size: clamp(4rem, 5vw + 0.1rem, 6rem);
    margin-bottom: 0vw;
    user-select: none;
    padding-left: 1vw;
    text-align: left;
  }

  /* LINE BELOW HEADER */

  .line {
    left: 1vw;
  }

  /* ============================== */

  .slider__paragraph {
    font-size: clamp(1.8rem, 1vw + 0.1rem, 2.2rem);
    width: 40vw;
    max-width: 400px;
    margin-top: 0vw;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: start;
    align-self: start;
    margin-bottom: 4vw;
    padding-left: 2vw;
  }

  /* ======================== */

  .slide__image {
    width: 35vw;
    max-width: 315px;
    max-height: 450px;
    height: 50vw;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: start;
  }

  .slide__image::before {
    width: 40vw;
    height: 55vw;
    max-width: 360px;
    max-height: 495px;
    top: 0vw;
    left: -2.5vw;
    border-bottom: 2px solid var(--slide-detailsColor);
    border-left: 2px solid var(--slide-detailsColor);
    border-right: 2px solid var(--slide-detailsColor);
    border-top: none;
  }

  /* ============================ */

  .img__descrip__container {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: start;
    justify-self: center;
    width: 40vw;
    height: 30vw;
    max-width: 360px;
    max-height: 120px;
    margin-top: -6vw;
  }

  .typing-class {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2rem);
  }

  .emphasize__num {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2rem);
  }

  /* arrow and dots */

  .arrow {
    max-width: 75px;
    max-height: 75px;
    font-size: clamp(0.8rem, 5vw + 0.1rem, 3rem);
  }

  .rightArrow {
    grid-column: 4/5;
    grid-row: 1/2;
    transform: translateX(-6vw) translateY(0rem);
  }

  .leftArrow {
    grid-column: 2/3;
    grid-row: 1/2;
    transform: translateX(6vw) translateY(0rem);
  }

  .dots {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-top: 0vw;
    margin-bottom: 0vw;
    transform: translateY(-6vw);
  }
}

@media all and (min-width: 900px) and (max-width: 1064px) {
  .slide__image::before {
    left: -22px;
  }

  .img__descrip__container {
    width: 40vw;
    height: 30vw;
    max-width: 360px;
    max-height: 120px;
  }
}

@media all and (min-width: 1064.1px) {
  .slider {
    grid-template-columns: 35% 5% 55% 5%;
    grid-template-rows: auto auto 2vw;
  }

  .slider__BG__1 {
    --padding: 1vw;
  }

  .slider__BG__2 {
    --padding: 1vw;
  }

  .slider__BG__3 {
    --padding: 1vw;
  }

  .slider__header {
    margin-top: 2vw;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: start;
    justify-self: center;
    font-size: clamp(4rem, 5vw + 0.1rem, 7.5rem);
    margin-bottom: 0vw;
    user-select: none;
    padding-left: 3vw;
    text-align: left;
    margin-bottom: 2vw;
  }

  /* LINE BELOW HEADER */

  .line {
    left: 3vw;
  }

  /* ============================== */

  .slider__paragraph {
    font-size: clamp(1.8rem, 1vw + 0.1rem, 3.5rem);
    width: 40vw;
    max-width: 500px;
    margin-top: 0vw;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: start;
    align-self: start;
    margin-bottom: 4vw;
    padding-left: 3vw;
  }

  /* ======================== */

  .slide__image {
    width: 35vw;
    max-width: 385px;
    max-height: 550px;
    height: 50vw;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: start;
  }

  .slide__image::before {
    width: 40vw;
    height: 55vw;
    max-width: 440px;
    max-height: 605px;
    top: 0vw;
    left: -27px;
    border-bottom: 2px solid var(--slide-detailsColor);
    border-left: 2px solid var(--slide-detailsColor);
    border-right: 2px solid var(--slide-detailsColor);
    border-top: none;
  }

  /* ============================ */

  .img__descrip__container {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: start;
    justify-self: center;
    width: 40vw;
    height: 30vw;
    max-width: 440px;
    max-height: 120px;
    margin-top: -4.5vw;
  }

  .typing-class {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2.5rem);
  }

  .emphasize__num {
    font-size: clamp(1.5rem, 5vw + 0.1rem, 2.5rem);
  }

  /* arrow and dots */

  .arrow {
    max-width: 75px;
    max-height: 75px;
    font-size: clamp(0.8rem, 5vw + 0.1rem, 3rem);
  }

  .rightArrow {
    grid-column: 4/5;
    grid-row: 1/2;
    transform: translateX(-6vw) translateY(0rem);
  }

  .leftArrow {
    grid-column: 2/3;
    grid-row: 1/2;
    transform: translateX(6vw) translateY(0rem);
  }

  .dots {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-top: 0vw;
    margin-bottom: 0vw;
    transform: translateY(-2vw);
  }
}

/* */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    border-right: 2px solid black;
    width: var(--width);
  }
}

@keyframes removeBorder {
  0% {
    border-right: 2px solid;
  }
  100% {
    border-right: none;
  }
}

@keyframes extendLine {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}
