.subsection__heading {
	padding-top: 1rem;
	font-size: 2rem;
	font-weight: 600;
}

.subsection__list {
	display: grid;
	row-gap: 1rem;
}

.articles__section {
	display: grid;
	grid-template-columns: 100%;
	max-width: 600px;
	row-gap: 1rem;
}

.article__image {
	width: 100%;
	max-width: 100%;
	height: min(35vh, 300px);
	background-size: cover;
	background-position: center;
}

.article__image__1 {
	background-position: top;
}

.article__image__1.loaded {
	background-image: url('../assets/eye_opening.jpg');
}

.article__image__2.loaded {
	background-image: url('../assets/bacteria.jpg');
}

.article__image__4.loaded {
	background-image: url('../assets/ecological.jpg');
}

.article__image__5.loaded {
	background-image: url('../assets/psycho_leaves.jpg');
}

.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 2rem;
	height: min(35vh, 30rem);
	padding: 1.5rem;
	background-image: linear-gradient(to right bottom, rgb(155, 14, 14) 0%, rgb(139, 0, 0) 100%);

	h3 {
		font-size: 2rem;
		width: 90%;
		text-align: center;
		color: var(--color--white);
	}
}

.sub__button {
	position: relative;
	height: 4rem;
	padding: 1rem;
	border: 1px solid var(--color--white);
	font-weight: 600;
	font-size: 1.75rem;
	color: var(--color--white);
	z-index: 1;
	cursor: pointer;
	background-color: transparent;
}

.sub__button:after {
	position: absolute;
	content: '';
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background-color: rgb(204, 149, 86);
	transition: all 0.6s ease;
}

.sub__button:hover {
	color: var(--color--white);
	font-weight: 600;
	border: none;
}

.sub__button:hover:after {
	left: 0;
	width: 100%;
}

/*  */

.popular__articles_container {
	background-color: var(--color--black);
	display: grid;
	row-gap: 1.5rem;
	padding: 2rem 1rem;
}

.popular__articles_heading {
	border-top: 1px solid var(--color--white);
	color: var(--color--white);
}

.popular__article {
	display: flex;
	align-items: center;
	column-gap: 1.5rem;
	padding: 1.5rem 0;
	padding-right: 1.25rem;
	border-bottom: 1px solid var(--color--grey);

	span {
		color: var(--color--grey);
		font-size: 2.5rem;
	}

	h4 {
		color: var(--color--white);
		font-size: 1.75rem;
		font-weight: normal;
	}
}

/*  */

/* ======= */
.news__container {
	display: grid;
	row-gap: 1.5rem;
	padding: 2rem 1rem;
}

.news__subsection_heading {
	border-top: 1px solid var(--color--grey);
	color: var(--color--dark-grey);
}

.news {
	display: grid;
	align-items: center;
	row-gap: 0.5rem;
	padding: 1.5rem;
	background-color: var(--color--light-grey);

	span {
		display: block;
		font-size: 1.4rem;
		color: var(--color--dark-grey);
	}

	h4 {
		font-size: 1.5rem;
		font-weight: normal;
	}
}

.button__news {
	position: relative;
	width: fit-content;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: left;
}

/* ============== */

.events__container {
	display: grid;
	row-gap: 1.5rem;
	padding: 2rem 1rem;
	background-color: var(--color--dark-green);
}

.events__heading {
	border-top: 1px solid var(--color--white);
	color: var(--color--white);
}

.event {
	display: grid;
	align-items: center;
	row-gap: 0.5rem;
	padding: 1.5rem 0;
	padding-right: 1.25rem;
	border-bottom: 1px solid var(--color--grey);

	h4 {
		font-size: 1.75rem;
		color: var(--color--white);
		font-weight: normal;
	}

	span {
		font-size: 1.25rem;
		color: var(--color--light-grey);
	}
}

@media all and (min-width: 768px) {
	.articles__section {
		grid-template-columns: 50% 50%;
		row-gap: unset;
		max-width: 1100px;
	}

	.articles__section_heading {
		grid-column: 1 / 3;
	}

	.article__image {
		height: unset;
	}

	.article__image__2 {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}

	.article__image__4 {
		background-position: 70%;
	}

	.events__container {
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}
}

@media all and (min-width: 1280px) {
	.articles__section {
		grid-template-columns: 45% 15% 20% 20%;
		grid-template-rows: repeat(7, auto);
		max-width: unset;
		margin-top: 10rem;
	}

	.articles__section_heading {
		grid-column: 1 / 5;
		/* padding: 10rem 0; */
		/* background-color: #eeeae74d; */
	}

	.article__image__1 {
		grid-column: 1/2;
		grid-row: 2/4;
	}

	.article__image__2 {
		grid-column: 4/5;
		grid-row: 2/3;
	}

	.article__image__4 {
		grid-column: 4 / 5;
		grid-row: 3 / 5;
	}

	.article__image__5 {
		grid-row: 5/6;
		grid-column: 2/3;
	}

	.subscribe {
		grid-column: 2/4;
		grid-row: 2/3;
		height: 25rem;
	}

	.popular__articles_container {
		grid-column: 1/2;
		grid-row: 4/6;
		align-content: start;
	}

	.news__container {
		grid-column: 2/4;
		grid-row: 3/5;
	}

	.events__container {
		grid-column: 3/5;
		grid-row: 5/6;
	}

	.event {
		grid-template-columns: auto auto;
		justify-content: flex-start;
		column-gap: 2rem;
	}
}
