*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
}

body.loading {
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 1.2rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
  border-radius: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

button,
a {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}
