.hero__section {
	display: grid;
	justify-content: stretch;
	row-gap: 0.5rem;
	margin-bottom: 0.5rem;
	background-color: #d9d9d9;
}

.hero--header {
	display: grid;
	justify-content: start;
	align-items: center;
	min-height: calc(100vh - 56px);
	background-image: var(--hero--mobile-background-image);
	background-position: left;
	background-size: cover;
}

.hero__heading {
	width: 88%;
	max-width: 550px;
	padding-left: 1rem;
	font-size: clamp(2rem, 13vw + 0.1rem, 7rem);
	color: rgb(177 206 178);
}

.hero--heading_underline {
	text-decoration: underline;
	text-decoration-thickness: 6px;
	text-underline-offset: 10px;
	text-decoration-color: rgb(0 169 0);
}

.hero--image {
	display: grid;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero__business_image {
	background-image: var(--hero--business-background-image);
}

.hero__nature_image {
	background-image: var(--hero--nature-background-image);
}

.hero__button {
	display: none;
}

.image__content {
	display: grid;
	align-content: center;
	place-items: start;
	row-gap: 5rem;
	min-height: calc(100vh - 46px);
	max-width: 700px;
	padding: 0 1.5rem;
}

.hero--content_heading {
	font-size: clamp(2rem, 13vw + 0.1rem, 6rem);
	color: rgb(230 230 230);

	& span {
		display: inline-block;
	}
}

.image__content__paragraph {
	color: rgb(230 230 230);
	font-size: 1.8rem;
}

@media all and (min-width: 768px) {
	.hero__section {
		row-gap: 1rem;
	}

	.hero--header {
		min-height: calc(100vh - 97px);
	}

	.hero__heading {
		max-width: 700px;
		padding-left: 5rem;
		padding-top: 7.5rem;
	}

	.image__content {
		row-gap: 7.5rem;
		max-width: 900px;
		padding-left: 5rem;
		padding-right: 2rem;
	}

	.image__content__paragraph {
		font-size: 2rem;
	}
}