.solutions__section {
	display: grid;
	justify-items: center;
}

.solutions__header {
	width: 100%;
}

.solutions__section_heading {
	padding: 6rem;
	background-color: #eeeae74d;
	font-size: clamp(5rem, 9vw + 0.1rem, 6.4rem);
}

.solutions__header_content {
	display: grid;
	align-content: center;
	place-items: start;
	row-gap: 5rem;
	min-height: calc(100vh - 46px);
	padding: 0 1.5rem;
	background-color: #101820ff;
	opacity: 0;

	&.introduce__heading {
		clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
		animation: displayRightSideImage 1.5s;
		animation-fill-mode: forwards;
	}
}

.solutions__heading {
	width: 88%;
	max-width: 550px;
	font-size: clamp(2rem, 13vw + 0.1rem, 7rem);
	font-weight: 400;
	color: rgb(211, 211, 211);
	transition: 1400ms ease-in-out;
}

.solutions__header_paragraph {
	max-width: 450px;
	font-size: 1.8rem;
	color: rgb(211, 211, 211);
}

.solutions__header_arrow_container {
	position: relative;
	height: 6rem;
	width: 5rem;
	justify-self: center;

	span {
		position: absolute;
		top: 0;
		left: 50%;
		width: 24px;
		height: 24px;
		margin-left: -12px;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
		transform: rotate(-45deg);
		animation: blinkingArrow 1.5s infinite;
	}
}

.solutions__heading_sidebar {
	display: none;
}

.solution__container {
	max-width: 550px;
}

.solution__text_content {
	display: grid;
	justify-content: center;
	justify-items: center;
	row-gap: 2rem;
	padding: 3rem;
	transition: 1000ms ease-in-out;
}

.solution__name {
	justify-self: left;
	font-size: 1.4rem;
	color: rgb(66, 66, 66);
}

.solution__header {
	font-size: clamp(3.6rem, 9vw + 0.1rem, 4.6rem);
	text-align: center;
	font-weight: normal;
	color: rgb(54, 54, 54);
}

.solution__paragraph {
	font-size: 1.8rem;
	text-align: center;
	color: rgb(94, 94, 94);
}

.solution__image_container {
	width: 100%;
}

.solution__image {
	width: 100%;
	aspect-ratio: 6 / 5;
	opacity: 0;
	object-fit: cover;
	transform: translateX(0rem);
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
}

.solution__image[data-side='right'].right__side__animation {
	clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
	animation-name: displayRightSideImage;
}

.solution__image[data-side='left'].left__side__animation {
	clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
	animation-name: displayLeftSideImage;
}

@media all and (min-width: 768px) {
	.solutions__header {
		display: flex;
	}

	.solutions__header_content {
		row-gap: 5rem;
		width: 100%;
		padding: 6rem 4rem;
	}

	.solutions__section_heading {
		padding: 8rem;
	}

	.solutions__heading {
		max-width: 800px;
	}

	.solutions__header_paragraph {
		max-width: 800px;
		font-size: 1.8rem;
	}

	.solution__container {
		max-width: 800px;
	}

	.solution__text_content {
		row-gap: 3rem;
		padding: 8rem 10rem;
	}

	.solution__name {
		font-size: 1.6rem;
	}

	.solution__paragraph {
		font-size: 1.8rem;
	}

	.solution__image {
		aspect-ratio: 5 / 3;
	}
}

@media all and (min-width: 1280px) {
	.solutions__section {
		justify-items: stretch;
	}

	.solutions__header_content {
		display: grid;
		grid-template-columns: 50rem 50rem;
		grid-template-rows: auto auto;
		grid-template-areas: 'heading paragraph' 'arrow arrow';
		justify-items: center;
		justify-content: space-evenly;
		align-items: center;
		column-gap: 3rem;
		min-height: unset;
		padding: 12rem;
		padding-bottom: 4rem;
	}

	.solutions__section_heading {
		padding: 10rem;
		font-size: 6.2rem;
	}

	.solutions__heading {
		grid-area: heading;
		font-size: 4.2rem;
		text-align: center;
	}

	.solutions__header_paragraph {
		max-width: unset;
		text-align: center;
	}

	.solutions__header_arrow_container {
		grid-area: arrow;
	}

	.solutions__heading_sidebar {
		display: block;
		width: 10%;
		max-width: 200px;
		background-color: rgb(0, 0, 0);
		opacity: 0;
		z-index: 0;
		clip-path: polygon(100% 0%, 100% 0%, 0% 0%, 0% 0%);

		&.introduce__sidebar {
			transition: 1000ms ease-in-out;
			opacity: 1;
			clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
		}
	}

	.solution__container {
		display: grid;
		grid-template-columns: minmax(50%, 1fr) minmax(auto, 700px);
		grid-template-areas: 'text image';
		align-items: center;
		justify-items: center;
		column-gap: 3rem;
		max-width: unset;

		&:nth-child(even) {
			grid-template-columns: minmax(auto, 700px) minmax(50%, 1fr);
			grid-template-areas: 'image text';

			.solution__image_container {
				justify-self: start;
			}
		}
	}

	.solution__text_content {
		grid-area: text;
		max-width: 800px;
		padding: 4rem 10rem;
	}

	.solution__image_container {
		justify-self: end;
	}

	.solution__image {
		aspect-ratio: 4 / 3;
	}
}

@media all and (min-width: 1920px) {
	/* Add gaps between articles in previous breakpoints */
	article {
		margin-bottom: 5rem;
	}

	.solutions__heading {
		font-size: 4.6rem;
	}

	.solutions__header_paragraph {
		max-width: unset;
		font-size: 2rem;
	}

	.solution__container {
		grid-template-columns: minmax(50%, 1fr) minmax(auto, 750px);

		&:nth-child(even) {
			grid-template-columns: minmax(auto, 750px) minmax(50%, 1fr);
		}
	}

	.solution__text_content {
		max-width: 950px;
	}

	.solution__image {
		aspect-ratio: 6 / 4;
	}
}

@media all and (min-width: 2400px) {
	.solutions__header_content {
		grid-template-columns: 60rem 60rem;
		padding: 15rem;
		padding-bottom: 6rem;
	}

	.solutions__heading {
		font-size: 5.4rem;
	}

	.solutions__header_paragraph {
		font-size: 2.4rem;
	}

	.solutions__heading_sidebar {
		width: 12%;
		max-width: 250px;
	}

	.solution__container {
		grid-template-columns: minmax(50%, 1fr) minmax(auto, 950px);
		column-gap: 3rem;

		&:nth-child(even) {
			grid-template-columns: minmax(auto, 950px) minmax(50%, 1fr);
		}
	}

	.solution__text_content {
		row-gap: 4rem;
		max-width: 1000px;
		padding: 5rem 11rem;
	}

	.solution__name {
		font-size: 2rem;
	}

	.solution__header {
		font-size: 4.2rem;
	}

	.solution__paragraph {
		font-size: 2.2rem;
	}
}

@keyframes blinkingArrow {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

@keyframes displayRightSideImage {
	from {
		clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
	}
	to {
		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
		opacity: 1;
	}
}

@keyframes displayLeftSideImage {
	from {
		clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
	}
	to {
		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
		opacity: 1;
	}
}
