:root {
	--impure-white: rgb(245, 245, 245);
	--decorative-light-gray: rgba(192, 192, 192, 0.676);
}

.ecoHome__section {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(4, auto);
	justify-items: center;
	align-items: center;
	row-gap: 2rem;
	padding-bottom: 5rem;
	background-color: black;
	overflow: hidden;
}

.ecoHome--header__img {
	z-index: 1;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	border-bottom: 1px solid rgb(255, 255, 255);
	opacity: 0.6;
	object-fit: cover;
}

.ecoHome--heading {
	z-index: 2;
	position: relative;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	padding-left: clamp(1rem, 7vw + 0.1rem, 5rem);
	width: 100%;
	height: 100%;
}

.ecoHome--heading__text {
	position: absolute;
	font-weight: normal;
	font-size: clamp(2.6rem, 6vw + 0.1rem, 6rem);
	color: var(--impure-white);
	cursor: default;
}

.ecoHome--heading__top_text_container,
.ecoHome--heading__bottom_text_container {
	position: absolute;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.ecoHome--heading__top_text_container::after {
	position: absolute;
	bottom: 0%;
	width: 50%;
	height: 1px;
	content: '';
	background-color: rgb(183, 183, 183);
	animation: opacityOn 2s forwards;
}

.ecoHome--heading__top_text_container {
	top: 0%;
}

.ecoHome--heading__bottom_text_container {
	bottom: 0%;
}

.heading--top_section {
	bottom: 0;
	animation: showTopText 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	transform: translate(0, 100%);
}

@keyframes showTopText {
	0% {
		transform: translate3d(0, 100%, 0);
	}
	40%,
	60% {
		transform: translate3d(0, 50%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.heading--bottom_section {
	top: 0;
	animation: showBottomText 0.5s;
	animation-delay: 1.75s;
	animation-fill-mode: forwards;
	transform: translate(0, -100%);
}

@keyframes showBottomText {
	0% {
		transform: translate3d(0, -100%, 0);
	}
	100% {
		transform: translate3d(0, 10%, 0);
	}
}

.ecoHome--heading__text--green {
	background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.5) 0%, rgba(2, 59, 2, 0.5) 100%);
}

.ecoHome--slider {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.ecoHome--img_container {
	padding: 0 0.5rem;
}

.ecoHome--image {
	z-index: 100;
	position: relative;
	width: 100%;
	max-width: 700px;
	max-height: 450px;
	aspect-ratio: 5 / 3;
	padding: 1.5rem;
	border: 1px solid var(--impure-white);
	object-fit: cover;
}

.solution__ecoHome_buttons_container {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 700px;
	padding: 1rem 0;
}

.ecoHome--change_slide_btn {
	z-index: 10;
	position: relative;
	padding: 1rem 1.5rem;
	border: 1px solid var(--impure-white);
	border-radius: 3rem;
	background: none;
	font-size: clamp(1.2rem, 2vw + 0.1rem, 1.4rem);
	font-weight: 400;
	color: var(--impure-white);
	transition: 300ms ease-in-out;

	&:hover,
	&.active {
		background-color: var(--impure-white);
		color: black;
	}

	&.active {
		transform: translateY(-1rem);
		transition: 200ms ease-in-out;
	}
}

.ecoHome--contact_container {
	z-index: 1;
	position: relative;
	grid-row: 4 / 5;
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	row-gap: 3rem;
	width: max(55vw, 20rem);
	max-width: 325px;
	max-height: 500px;
	aspect-ratio: 8 / 13;
	padding: 4rem 3rem;
	border: 1px solid var(--impure-white);

	& h3 {
		max-width: 240px;
		font-weight: normal;
		font-size: clamp(2.2rem, 6vmin + 0.1rem, 3.4rem);
		text-align: center;
		color: var(--impure-white);
		cursor: default;
	}

	& img {
		position: absolute;
		top: 0%;
		left: 0%;
		width: max(17%, 4rem);
		aspect-ratio: 1 / 1;
	}
}

.ecoHome--contact_btn {
	aspect-ratio: 1 / 1;
	padding: 0.75rem;
	border: 1px solid var(--impure-white);
	border-radius: 50%;
	font-size: clamp(1.3rem, 3vw + 0.1rem, 1.6rem);
	color: var(--impure-white);
	background-color: black;
	transition: 500ms ease-in-out;

	&:hover {
		background-color: var(--impure-white);
		color: black;
	}
}

.ecoHome--background_element {
	z-index: 0;
	position: absolute;
	pointer-events: none;
}

.ecoHome--background_circle {
	left: 10%;
	top: 10%;
	width: 175vw;
	aspect-ratio: 1 / 1;
	border: 2px dotted var(--decorative-light-gray);
	border-radius: 50%;
}

.ecoHome--background_line {
	width: 1px;
	height: 300vw;
	background-color: var(--decorative-light-gray);
	transform: rotate(50deg);
}

@media all and (min-width: 768px) {
	.ecoHome__section {
		row-gap: 5rem;
		padding-bottom: 7.5rem;
	}

	.ecoHome--header__img {
		width: 100%;
		max-height: 700px;
	}

	.ecoHome--heading {
		padding-left: 7.5rem;
	}

	.ecoHome--heading__top_text_container::after {
		width: 35%;
		height: 2px;
	}

	.ecoHome--image {
		max-width: 1000px;
		max-height: 550px;
		padding: 2rem;
	}

	.solution__ecoHome_buttons_container {
		max-width: 800px;
	}

	.ecoHome--change_slide_btn {
		&.active {
			transform: translateY(-1.5rem);
		}
	}

	.ecoHome--contact_container {
		flex-direction: row;
		column-gap: 3rem;
		width: unset;
		max-width: unset;
		max-height: unset;
		aspect-ratio: unset;
		padding: 5rem 6rem;

		& > h3 {
			max-width: 400px;
			text-align: left;
		}

		& > img {
			width: max(8%, 4rem);
		}
	}

	.ecoHome--contact_btn {
		padding: 1rem;
	}

	.ecoHome--background_circle {
		left: 20%;
		top: 20%;
		width: 150vw;
	}

	.ecoHome--background_line {
		height: 200vw;
	}
}

@media all and (min-width: 1280px) {
	.ecoHome__section {
		grid-template-columns: 70% 30%;
		grid-template-rows: repeat(3, auto);
		row-gap: 10rem;
		padding-bottom: 10rem;
	}

	.ecoHome--header__img {
		grid-column: 1 / 3;
		max-height: 900px;
	}

	.ecoHome--heading {
		padding-left: 10rem;
	}

	.ecoHome--heading__text {
		font-size: clamp(5.2rem, 4vw + 0.1rem, 7rem);
	}

	.ecoHome--heading__top_text_container::after {
		width: 50%;
		max-width: 450px;
	}

	.ecoHome--image {
		max-height: 750px;
	}

	.ecoHome--img_container {
		padding: 0 2rem;
	}

	.ecoHome--contact_container {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		flex-direction: column;
		aspect-ratio: 8 / 13;

		& h3 {
			max-width: 200px;
			text-align: center;
		}

		& img {
			width: 5rem;
		}
	}

	.ecoHome--change_slide_btn {
		padding: 1rem 2rem;
		font-size: 1.6rem;
	}
}

@keyframes opacityOn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
