.button__empty {
	border: none;
	background: none;
}

.hidden {
	display: none;
}

.section__heading {
	width: 100%;
	color: var(--color--dark-grey);
	text-align: center;
	font-weight: 400;
}

.border__radius {
	border-radius: 5px;
}

.line__clamp {
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}